# node_modules folder (dependencies)
node_modules/

# log files
*.log
npm-debug.log*

# dotenv environment variables
.env

# build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

all_lab_in_project_anc
coveragesite_in_22
INSERT INTO pathopat (
Untitled-1
Untitled-2
Untitled-3
Untitled-4