# node_modules folder (dependencies)
node_modules/

# log files
*.log
npm-debug.log*

# dotenv environment variables
.env

# build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

all_lab_in_project_anc.sql
coveragesite_in_22.sql
INSERT INTO pathopat (.sql
Untitled-1.sql
Untitled-2.sql
Untitled-3.sql
Untitled-4.sql